.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: top;
    margin-bottom: 20px;
}

.menu div {
    margin-right: 10px;
    background-color: aliceblue;
}

.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: top;
}

.left div {
    margin-right: 10px;
}

.middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.footnote {
    display: flex;
    flex-direction: row;
    justify-content: top;
}

.footnote div {
    margin-right: 10px;
    background-color: antiquewhite;
}