.hlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hlist * {
    margin-left: 10px;
    margin-right: 10px;
}

.vlist {
    display: flex;
    flex-direction: column;
}

.vlist div {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* .menu div:first-child {
    font-size: 20px;
    font-weight: bold;
    background-color: lightyellow;
}

.menu div:last-child {
    font-size: 18px;
    font-weight: bold;
    background-color: lightblue;
    border-radius: 5px;
    cursor: hand;
} */


/* .left div:nth-child(1) {
    background-color: lightblue;
}

.left div:nth-child(2) {
    background-color: lightcoral;
}
 
.left div:nth-child(3) {
    background-color: lightcyan;
}

.left div:nth-child(4) {
    background-color: lightgoldenrodyellow;
}

.left div:nth-child(5) {
    background-color: lightgray;
} */

.middle {
    width: 40%;
}


/* .middle div:nth-child(1) {
    border: 1px solid lightgreen;
}

.middle div:nth-child(2) {
    border: 1px dashed lightgrey;
}

.middle div:nth-child(3) {
    border: 1px dotted lightpink;
} */

.right {
    width: 15%;
}


/* .right div:nth-child(2) {
    border: 1px solid lightsalmon;
}

.right div:nth-child(3) {
    border: 1px dashed lightseagreen;
} */

.footnote div {
    margin-left: 10px;
    margin-right: 10px;
}


/* .footnote div:nth-child(1) {
    background-color: lightskyblue;
}

.footnote div:nth-child(2) {
    background-color: lightslategray;
}

.footnote div:nth-child(3) {
    background-color: lightsteelblue;
}

.footnote div:nth-child(4) {
    background-color: lightyellow;
} */