.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid coral;
}

.menu-item {
    margin: 5px;
    background-color: oldlace;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vlist {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 1px solid coral;
}

.left {
    width: 5%;
}

.left-item {
    margin: 5px;
    background-color: honeydew;
}

.middle {
    width: 35%;
}

.entry {
    margin: 5px;
    background-color: linen;
}

.right {
    width: 20%;
}

.related {
    margin: 5px;
    background-color: mistyrose;
}

.foot {
    display: flex;
    justify-content: center;
    border: 1px solid coral;
}

.footnote {
    margin: 5px;
    background-color: moccasin;
}