#input_wrapper {
    margin: auto;
    display: flex;
    width: 400px;
    height: 30px;
    border: 2px solid orange;
    border-radius: 17px;
}

#url {
    width: 270px;
    height: 30px;
    margin-left: 10px;
    border: none;
    appearance: none;
    font-size: 16px;
}

#url:focus {
    border: none;
    appearance: none;
    outline: none;
}

#check {
    width: 120px;
    height: 28px;
    margin-top: 1px;
    margin-right: 1px;
    border: none;
    appearance: none;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: orange;
    color: white;
    font-weight: bold;
}

#check:focus {
    border: none;
    appearance: none;
    outline: none;
}

#check:hover {
    border: none;
    appearance: none;
    outline: none;
    font-size: 16px;
    background-color: tomato;
}

#log {
    resize: none;
    position: absolute;
    top: 0px;
    right: 10px;
    border: none;
    color: grey;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#log:focus {
    border: none;
    appearance: none;
    outline: none;
}

#result {
    display: flex;
    margin-top: 15px;
}

#statistics {
    width: 280px;
    margin-left: 10px;
    margin-top: 25px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    font-size: 14px;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

#v11,
#v12 {
    color: red;
    font-weight: bold;
}